In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
crime=pd.read_csv(r'C:\Users\Rachel\Desktop\ML\final\crime.csv')

In [113]:
crime.head(2)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545

In [115]:
crime.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [116]:
labels=crime[['AREA', 'AREA NAME', 'Crm Cd','Crm Cd Desc', 'Premis Cd','Premis Desc','Weapon Used Cd', 'Weapon Desc','Status','Status Desc']]

In [117]:
crime=crime.drop(['DATE OCC', 'AREA NAME',
       'Crm Cd Desc','TIME OCC' ,'Mocodes',
        'Vict Descent',  'Premis Desc',
        'Weapon Desc',  'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street', 'LAT','LON'], axis=1)

In [118]:
crime.columns

Index(['DR_NO', 'Date Rptd', 'AREA', 'Rpt Dist No', 'Part 1-2', 'Crm Cd',
       'Vict Age', 'Vict Sex', 'Premis Cd', 'Weapon Used Cd', 'Status',
       'LOCATION'],
      dtype='object')

In [119]:
crime=crime.rename(columns={'DR_NO':'id', 'Date Rptd':'date', 'AREA':'area', 'Rpt Dist No':'district_number', 'Part 1-2':'part', 'Crm Cd':'crime_code', 
       'Vict Age':'age', 'Vict Sex':'sex', 'Vict Descent':'descent', 'Premis Cd':'premis', 
       'Weapon Used Cd':'weapon', 'Status':'status', 'LOCATION':'location'})

In [120]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110824 entries, 0 to 110823
Data columns (total 12 columns):
id                 110824 non-null int64
date               110824 non-null object
area               110824 non-null int64
district_number    110824 non-null int64
part               110824 non-null int64
crime_code         110824 non-null int64
age                110824 non-null int64
sex                96849 non-null object
premis             110823 non-null float64
weapon             40601 non-null float64
status             110824 non-null object
location           110824 non-null object
dtypes: float64(2), int64(6), object(4)
memory usage: 10.1+ MB

In [121]:
crime.isnull().sum()

id                     0
date                   0
area                   0
district_number        0
part                   0
crime_code             0
age                    0
sex                13975
premis                 1
weapon             70223
status                 0
location               0
dtype: int64

In [122]:
token='N'
crime.sex=crime.sex.fillna(token)

In [123]:
crime.weapon=crime.weapon.fillna(token)

In [127]:
crime=crime.dropna(how='any')
crime.isnull().sum()

id                 0
date               0
area               0
district_number    0
part               0
crime_code         0
age                0
sex                0
premis             0
weapon             0
status             0
location           0
dtype: int64

In [128]:
crime['date'] = pd.to_datetime(crime['date'])

In [129]:
crime.head()

,id,date,area,district_number,part,crime_code,age,sex,premis,weapon,status,location
0,10304468,2020-01-08,3,377,2,624,36,F,501.0,400,AO,1100 W 39TH PL
1,190101086,2020-01-02,1,163,2,624,25,M,102.0,500,IC,700 S HILL ST
2,190101087,2020-01-02,1,156,2,626,53,F,502.0,400,IC,300 E 5TH ST
3,191501505,2020-01-01,15,1543,2,745,76,F,502.0,N,IC,5400 CORTEEN PL
4,191921269,2020-01-01,19,1998,2,740,31,X,409.0,N,IC,14400 TITUS ST

## spending

In [109]:
spending=pd.read_csv(r'C:\Users\Rachel\Desktop\ML\final\spending.csv')

In [156]:
spending.shape

(368994, 62)

In [ ]:
pd.set_option('display.max_columns', None)

In [157]:
spending.iloc[:,:30].isnull().sum()

ID NUMBER                                     0
FISCAL YEAR                                   0
DEPARTMENT NAME                               0
VENDOR NAME                                   0
TRANSACTION DATE                              0
DOLLAR AMOUNT                                 0
AUTHORITY                                176355
BUSINESS TAX REGISTRATION CERTIFICATE     26609
GOVERNMENT ACTIVITY                           0
FUND GROUP NAME                               0
FUND TYPE                                     0
FUND NAME                                     0
FUND                                          0
ACCOUNT NAME                                  0
ACCOUNT CODE                                  0
TRANSACTION ID                                0
EXPENDITURE TYPE                              0
SETTLEMENT/JUDGMENT                      368988
FISCAL MONTH NUMBER                           0
FISCAL YEAR-MONTH                             0
FISCAL YEAR-QUARTER                           0
CALENDAR MONTH NUMBER                         0
CALENDAR MONTH/YEAR                           0
CALENDAR MONTH                                0
DATA SOURCE                                   0
AUTHORITY NAME                           115884
AUTHORITY LINK                           354061
DEPARTMENT NUMBER                             0
PROGRAM                                       0
VENDOR ID                                     0
dtype: int64

In [159]:
spending.iloc[:,30:].isnull().sum()

ZIP                           64102
PAYMENT METHOD                    0
PAYMENT STATUS                    0
INV NUM                           0
INVOICE DUE DATE              61082
INVOICE DISCOUNT DUE DATE    192854
INV DATE                       1600
INV LINE                         24
INVOICE DISTRIBUTION LINE         0
PO NUM                         7060
DESCRIPTION                   13110
DETAILED ITEM DESCRIPTION     42541
UNIT PRICE                    53027
UNIT OF MEASURE              165208
QUANTITY                      53027
SALES TAX PERCENT             53027
SALES TAX                     53027
DISCOUNT                      42352
RECEIVER ID                   60953
PO DATE                       44153
PO LINE NUMBER                    7
PROCUREMENT ORGANIZATION      60892
BUYER NAME                    60971
SUPPLIER CITY                 73279
SUPPLIER COUNTRY              69016
BU NAME                       42352
SITE LOCATION                 60892
ITEM CODE                     61082
ITEM CODE NAME                61082
CURRENCY                      42352
VALUE OF SPEND                60892
VENDOR NUM                        0
dtype: int64

In [ ]:
labels=spending(['ITEM CODE NAME','ITEM CODE'])

In [160]:
spending.columns

Index(['ID NUMBER', 'FISCAL YEAR', 'DEPARTMENT NAME', 'VENDOR NAME',
       'TRANSACTION DATE', 'DOLLAR AMOUNT', 'AUTHORITY',
       'BUSINESS TAX REGISTRATION CERTIFICATE', 'GOVERNMENT ACTIVITY',
       'FUND GROUP NAME', 'FUND TYPE', 'FUND NAME', 'FUND', 'ACCOUNT NAME',
       'ACCOUNT CODE', 'TRANSACTION ID', 'EXPENDITURE TYPE',
       'SETTLEMENT/JUDGMENT', 'FISCAL MONTH NUMBER', 'FISCAL YEAR-MONTH',
       'FISCAL YEAR-QUARTER', 'CALENDAR MONTH NUMBER', 'CALENDAR MONTH/YEAR',
       'CALENDAR MONTH', 'DATA SOURCE', 'AUTHORITY NAME', 'AUTHORITY LINK',
       'DEPARTMENT NUMBER', 'PROGRAM', 'VENDOR ID', 'ZIP', 'PAYMENT METHOD',
       'PAYMENT STATUS', 'INV NUM', 'INVOICE DUE DATE',
       'INVOICE DISCOUNT DUE DATE', 'INV DATE', 'INV LINE',
       'INVOICE DISTRIBUTION LINE', 'PO NUM', 'DESCRIPTION',
       'DETAILED ITEM DESCRIPTION', 'UNIT PRICE', 'UNIT OF MEASURE',
       'QUANTITY', 'SALES TAX PERCENT', 'SALES TAX', 'DISCOUNT', 'RECEIVER ID',
       'PO DATE', 'PO LINE NUMBER', 'PROCUREMENT ORGANIZATION', 'BUYER NAME',
       'SUPPLIER CITY', 'SUPPLIER COUNTRY', 'BU NAME', 'SITE LOCATION',
       'ITEM CODE', 'ITEM CODE NAME', 'CURRENCY', 'VALUE OF SPEND',
       'VENDOR NUM'],
      dtype='object')

In [165]:
spending=spending.drop(['SETTLEMENT/JUDGMENT','AUTHORITY LINK','AUTHORITY','AUTHORITY NAME','INVOICE DISCOUNT DUE DATE','UNIT OF MEASURE','INVOICE DUE DATE','BU NAME','CURRENCY'], axis=1)

In [166]:
spending.isnull().sum()

ID NUMBER                                    0
FISCAL YEAR                                  0
DEPARTMENT NAME                              0
VENDOR NAME                                  0
TRANSACTION DATE                             0
DOLLAR AMOUNT                                0
BUSINESS TAX REGISTRATION CERTIFICATE    26609
GOVERNMENT ACTIVITY                          0
FUND GROUP NAME                              0
FUND TYPE                                    0
FUND NAME                                    0
FUND                                         0
ACCOUNT NAME                                 0
ACCOUNT CODE                                 0
TRANSACTION ID                               0
EXPENDITURE TYPE                             0
FISCAL MONTH NUMBER                          0
FISCAL YEAR-MONTH                            0
FISCAL YEAR-QUARTER                          0
CALENDAR MONTH NUMBER                        0
CALENDAR MONTH/YEAR                          0
CALENDAR MONTH                               0
DATA SOURCE                                  0
DEPARTMENT NUMBER                            0
PROGRAM                                      0
VENDOR ID                                    0
ZIP                                      64102
PAYMENT METHOD                               0
PAYMENT STATUS                               0
INV NUM                                      0
INV DATE                                  1600
INV LINE                                    24
INVOICE DISTRIBUTION LINE                    0
PO NUM                                    7060
DESCRIPTION                              13110
DETAILED ITEM DESCRIPTION                42541
UNIT PRICE                               53027
QUANTITY                                 53027
SALES TAX PERCENT                        53027
SALES TAX                                53027
DISCOUNT                                 42352
RECEIVER ID                              60953
PO DATE                                  44153
PO LINE NUMBER                               7
PROCUREMENT ORGANIZATION                 60892
BUYER NAME                               60971
SUPPLIER CITY                            73279
SUPPLIER COUNTRY                         69016
SITE LOCATION                            60892
ITEM CODE                                61082
ITEM CODE NAME                           61082
VALUE OF SPEND                           60892
VENDOR NUM                                   0
dtype: int64

In [168]:
spending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368994 entries, 0 to 368993
Data columns (total 53 columns):
ID NUMBER                                368994 non-null int64
FISCAL YEAR                              368994 non-null int64
DEPARTMENT NAME                          368994 non-null object
VENDOR NAME                              368994 non-null object
TRANSACTION DATE                         368994 non-null object
DOLLAR AMOUNT                            368994 non-null object
BUSINESS TAX REGISTRATION CERTIFICATE    342385 non-null object
GOVERNMENT ACTIVITY                      368994 non-null object
FUND GROUP NAME                          368994 non-null object
FUND TYPE                                368994 non-null object
FUND NAME                                368994 non-null object
FUND                                     368994 non-null object
ACCOUNT NAME                             368994 non-null object
ACCOUNT CODE                             368994 non-null object
TRANSACTION ID                           368994 non-null object
EXPENDITURE TYPE                         368994 non-null object
FISCAL MONTH NUMBER                      368994 non-null int64
FISCAL YEAR-MONTH                        368994 non-null object
FISCAL YEAR-QUARTER                      368994 non-null object
CALENDAR MONTH NUMBER                    368994 non-null int64
CALENDAR MONTH/YEAR                      368994 non-null object
CALENDAR MONTH                           368994 non-null object
DATA SOURCE                              368994 non-null object
DEPARTMENT NUMBER                        368994 non-null int64
PROGRAM                                  368994 non-null object
VENDOR ID                                368994 non-null object
ZIP                                      304892 non-null object
PAYMENT METHOD                           368994 non-null object
PAYMENT STATUS                           368994 non-null object
INV NUM                                  368994 non-null object
INV DATE                                 367394 non-null object
INV LINE                                 368970 non-null object
INVOICE DISTRIBUTION LINE                368994 non-null int64
PO NUM                                   361934 non-null object
DESCRIPTION                              355884 non-null object
DETAILED ITEM DESCRIPTION                326453 non-null object
UNIT PRICE                               315967 non-null object
QUANTITY                                 315967 non-null object
SALES TAX PERCENT                        315967 non-null float64
SALES TAX                                315967 non-null object
DISCOUNT                                 326642 non-null object
RECEIVER ID                              308041 non-null object
PO DATE                                  324841 non-null object
PO LINE NUMBER                           368987 non-null float64
PROCUREMENT ORGANIZATION                 308102 non-null object
BUYER NAME                               308023 non-null object
SUPPLIER CITY                            295715 non-null object
SUPPLIER COUNTRY                         299978 non-null object
SITE LOCATION                            308102 non-null object
ITEM CODE                                307912 non-null float64
ITEM CODE NAME                           307912 non-null object
VALUE OF SPEND                           308102 non-null object
VENDOR NUM                               368994 non-null object
dtypes: float64(3), int64(6), object(44)
memory usage: 149.2+ MB